<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>

  <% if a.trackable %>
   <strong> <%= link_to a.trackable.user.name, user_path(a.trackable.user.id) %> </strong> deseja entrar no seu projeto <strong><%= a.trackable.project.name%></strong>.  <%= link_to ' (Lista de Solicitações)', request_list_path(a.trackable.project) %>.
  <% else %>
    was unfollowing the project.
  <% end %>
</li>

