<h2>My Friends</h2>
	<br>
		<h3>Current Friends</h3>
		<%= render :partial => 'friends/friends' %>
		<h3>Requested Friends</h3>
		<%= render :partial => 'friends/requested_friends' %>
		<h3>Pending Friends</h3>
		<%= render :partial => 'friends/pending_friends' %>