<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @topic.topic_title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @topic.description %>
</p>

<% @topic.posts.each do |post| %>
<% post.description %>
<% post.user.email %>
<br>
<% end %>


<%= link_to 'Postar', create_post_path(@topic) %>
