<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @topic.topic_title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Postar', new_post_path%>
