<div class="water" style="border: 1px solid #EAEAEA">
  <div class="title-blue-publication " style="padding-top: 15px;">
    <div class="row" style="text-align: left; padding-left: 15px">
    	
    </div>
  </div>
</div>