<div class="navbar navbar-default navbar-static-top " style="background: #FFF; margin-bottom: 0px !important; min-height: 0px; width: 324px; margin: 0 auto;">
  <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="z-index:1000">
        <strong>
          <ul class="nav navbar-nav project_nav" style="font-size: 14px;">
            <li class="navbar_item <%= active_class(projects_path) %>" style="font-family: 'arial'"> <a> Todos os Projetos </a> </li>
            <li class="navbar_item <%= %>" style="font-family: 'arial'"> <a> Buscar Projetos </a> </li>   
          </ul>
        </strong>
    </div>
  </div>
</div>