<h1>Lista de Requisições</h1>
<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Situação</th>
      <th>Ação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.members.each do |member| %>
      <tr>
        <td><%= member.user.email %></td>

        <% if member.situation == 0 %>
        <td> Pendente </td>
        <% else %>
        <td> Membro do Projeto</td>
        <%end%>

        <td>
        <% if member.situation == 1 %>
        <%= link_to 'Remover Membro', refuse_request_projects_path(member: member.id) %>
        <% else %>
        <%= link_to 'Aceitar', accept_request_projects_path(member: member.id) %>
        <%= link_to 'Recusar', refuse_request_projects_path(member: member.id) %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
