.avatarpost{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
	margin-left: 28px;

}
.commentpost{
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
	

}
.projectpost{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: -5px;
	margin-top: -10px;
	margin-right: 5px;
}
.avatarlist{
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 11px;
	margin-right: 5px;
	margin-left: 3px;
}



.projectlist{
	width: 24px;
	height: 24px;
	float: left;
	border-radius: 0;

}

.imagepost{
	margin: 0 auto;

}

.newpostavatar{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: -5px;
	margin-top: 5px;
	margin-right: 5px;

}

.imageinput{
	width: 40px;
	height: 50px;
	margin-left: -35px;
	margin-top: 10px;
}

.rightss {
    float: right; /*or whatever you want to change*/
}

.full{
	width:100%;
	margin-bottom: 5px;

}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

.glyphicon-ok {
	color: #FFF;
}

.request_button{
	width: 50px;
	height: 22px;
	padding: 0 !important;

}

.edit_avatar{
	color: #365899 !important;
}
.edit_avatar:hover{
	color: #365899 !important;
	background: #F6F8FA !important;
}

.elem_list{
	background: #F6F8FA !important;
	border-bottom: none !important;

}

.elem_list:hover{
	background: #EEE !important;
}

.navbar_item{
	border-bottom: thick solid #FFF;
}

.navbar_item a{
	color: #333 !important;
}
.navbar_item a:hover{
	color: #009688 !important;
}

.navbar_item:hover{
	border-bottom: thick solid #009688;

}
.actived{
	border-bottom: thick solid white;

}

.glyphicon-blackboard:before {
  content: "\479";
}