.avatarpost{
	width: 24px;
	height: 24px !important;
	float: left;
	margin-right: 5px;
	margin-left: 33px;

}
.commentpost{
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
	

}
.projectpost{
	width: 44px;
	height: 44px;
	float: left;
	margin-left: 0px;
	margin-top: -10px;
	margin-right: 5px;
}
.avatarlist{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 9px;
	margin-right: 5px;
	margin-left: 9px;
}



.projectlist{
	width: 24px;
	height: 24px;
	float: left;
	border-radius: 0;

}

.imagepost{
	margin: 0 auto;

}

.newpostavatar{
	width: 32px;
	height: 32px;
	float: left;
	margin-left: -5px;
	margin-top: 5px;
	margin-right: 5px;

}

.imageinput{
	width: 40px;
	height: 50px;
	margin-left: -35px;
	margin-top: 10px;
}

.rightss {
    float: right; /*or whatever you want to change*/
}

.full{
	width:100%;
	margin-bottom: 5px;

}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

.glyphicon-ok {
	color: #FFF;
}

.request_button{
	position: relative !important;
	width: 50px !important;
	height: 22px !important;
	padding: 0 !important;
	opacity: 1 !important;
	top: none !important;
	left: none !important;
}

.edit_avatar{
	color: #365899 !important;
}

.edit_avatar:hover{
	color: #365899 !important;
	background: #F6F8FA !important;
}

.elem_list{
	background: #FFFFFF !important;
	border-bottom: none !important;

}

.elem_list:hover{
	background: #EEE !important;
}

.actived{
    border-bottom: thick solid #009688 !important;
}

.navbar_item{
	border-bottom: thick solid #FFF;

}

.navbar_item a{
    font-size: 16px;
	color: #333 !important;
}
.navbar_item a:hover{
	color: #009688 !important;
}

.navbar_item:hover{
	border-bottom: thick solid #009688;

}


#search-input
{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);

    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #009688;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto-Regular';
}
#search-input::-webkit-input-placeholder {
	text-align: left;

	font-family: 'Roboto-Regular';
    color: #009688;
}
#search-input::-moz-placeholder {
    /* FF 4-18 */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #009688;
}
#search-input::-moz-placeholder {
    /* FF 19+ */
    text-align: left;
    font-family: 'Roboto-Regular';
    color: #009688;
}
#search-input::-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #009688;
}

#search-input:focus::-webkit-input-placeholder {
    text-align: left;
    font-family: 'Roboto-Regular';
    color: #AAA;
}
#search-input:focus::-moz-placeholder {
    /* FF 4-18 */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #AAA;
}
#search-input:focus::-moz-placeholder {
    /* FF 19+ */
    text-align: left;
    font-family: 'Roboto-Regular';
    color: #AAA;
}
#search-input:focus::-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #AAA;
}





#submit-button
{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    color: #009688;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
    font-size: 17px;
}
#submit-button:hover{
	background: #FFF;
}

.navbar-avatar a{
	padding-bottom: 0px !important;

}
.navbar-avatar:focus{
	background: #FFF !important;
}
.navbar-avatar a:focus{
	background: #FFF !important;
}
.navbar-avatar a img{
	width: 29px;
	height: 29px;
}

.link_chat{
	color:white !important;
}
.link_chat:hover{
	color:white !important;
	background: none !important;

}

.div_chat{
    position: fixed; 
    bottom:0%;
    right:0%;
    width: 250px;
    background-color: none; 
    opacity: 1;
}

#fileupload-example-4 {
  height: 0;
  width: 0;
}

#fileupload-example-4-label {
    border: 1px solid #cccccc;
    padding: 5px;
}

.public_in div{
	float: left;
}

#combo-input
{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    color: rgba(0,0,0,0);
  	text-shadow: 0 0 0 #000;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 0px solid #009688;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    padding: 0;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.publication_project{
	margin-bottom: 0px !important;

}

.publication_desc{
	width: 100% !important;
}

.share_link{
	color: #929292 !important;
}
.share_link:hover{
	color: #009688 !important;
	background: #FFF;
	text-decoration: none;
}

.comment_input{
    color: rgba(0,0,0,0);
    background: #F6F8FA !important;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    padding: 0;
}
.comment_input::-webkit-input-placeholder {
	text-align: left;
	font-family: 'Roboto-Regular';
    color: #777 !important;
}
.comment_input:-moz-placeholder {
    /* FF 4-18 */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #777 !important;
}
.comment_input::-moz-placeholder {
    /* FF 19+ */
    text-align: left;
    font-family: 'Roboto-Regular';
    color: #777 !important;
}
.comment_input::-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #777 !important;
}

.comment_description{
	margin-bottom: -17px !important;

}

.add_img{
	color: #929292 !important;
}
.add_img:hover{
	color: #009688 !important;
}

.user_link{
    color: #009688 !important;
}

.user_link:hover{
    color: #009688 !important;
    background: #FFF;
    text-decoration: underline !important;
}

.project_nav li a{
    font-size: 14px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    
}

.button_project{
    min-width: 50px !important;
    height: 24px !important;
    padding:3px !important; 
    font-weight: bold !important;
    font-size: 13px !important;
    border: 1px solid #777 !important;
    
}
.button_active{

    background: #009688 !important;
    color: #FFF !important;
}
.button_active:hover{
    background: #FF0000 !important;
    color: #FFF !important;
}
.button_inactive{
    color: #777 !important;
    background: #FAFAFA !important;

}
.button_inactive:hover{
    color: #FFF !important;
    background: #009688 !important;
}
.member{
    border: 1px solid #FFF;
}
.member_img{
    height: 75px;
    width: 75px;
}
.refuse_request{
    background: #FFF;
    color: #444;
}
.refuse_request:hover{
    background: #F00 !important;
    color: #FFF !important;
}
.project_name{
    margin-bottom: 5px !important;
}
.project_place{
    margin-bottom: 5px !important;
}
.form_input{
    padding-top: 0px;
    height: 23px !important;
    border-bottom: 1px solid #AAA !important;
}

.form_input:focus{
    border-bottom: 2px solid #009688 !important;
}

.form_input::-webkit-input-placeholder {
    text-align: left;
    font-family: 'Roboto-Regular';
    color: #aaa !important;
}
.form_input:-moz-placeholder {
    /* FF 4-18 */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #aaa !important;
}
.form_input::-moz-placeholder {
    /* FF 19+ */
    text-align: left;
    font-family: 'Roboto-Regular';
    color: #aaa !important;
}
.form_input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Roboto-Regular';
    text-align: left;
    color: #aaa !important;
}

.interest_selected{
    border: 4px solid #009688;
}

.edit_areas{
    color: #AAA;
}
.edit_areas:hover{
    color: #009688;
    background: #fff;
    text-decoration: none;
}
#phase-input
{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #009688;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    padding: 0;
    outline: none !important;
    height: auto;
}

.project_phase{
    margin-bottom: 0px !important;
    width: 20%;
    float:left;
}

.button_submit{

    background: #009688 !important;
    color: #FFF !important;
}
.button_submit:hover{
    background: green !important;
    color: #FFF !important;
}

.cancel-project:hover{
    color: #FF0000 !important;
}

.user_task_selected{
    background: #009688 !important;
    
}

.fixed-topic{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    color: #FFF;
    text-shadow: 1px 0 0 #AAA, -2px 0 0 #DDD;
}

.topic-fixed-true{
    color: #006020;
}

.user_on{
    color: #009688;
    float: right;
}

.user_off{
    color: #DDD;
    float: right;
}
.link_white{
    color: white !important;
}
.link_white:hover{
    color: white;
    background: inherit !important;
}