<div class="water" style="border: 1px solid #EAEAEA">
    <div class="title-blue-publication " style="padding-top: 15px;">
    	<div class="row"> 
    	<% Project.all.each do |project|%>
    		<div class="col-md-12">
	    		<div class="col-md-4">
	    			<%= image_tag(project.avatar, style: "height: 36px; width: 36px;" ) %>
	    		</div>
	    		<div class="col-md-8">
	    			asdsad
	    		</div>
    		</div>
    	<% end %>
    	</div>
	</div>
</div>